[submodule "packages/markdown-mode"]
	path = packages/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "snippets"]
	path = snippets
	url = git://github.com/rejeep/yasnippets.git
[submodule "packages/keats-mode"]
	path = packages/keats-mode
	url = git://github.com/rejeep/keats.git
[submodule "packages/wrap-region-mode"]
	path = packages/wrap-region-mode
	url = git://github.com/rejeep/wrap-region.git
[submodule "packages/cucumber"]
	path = packages/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
