[submodule "packages/markdown-mode"]
	path = packages/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "packages/keats-mode"]
	path = packages/keats-mode
	url = git://github.com/rejeep/keats.git
[submodule "packages/cucumber"]
	path = packages/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "packages/rhtml"]
	path = packages/rhtml
	url = git://github.com/rejeep/rhtml.git
[submodule "packages/rinari"]
	path = packages/rinari
	url = git://github.com/rejeep/rinari.git
[submodule "snippets"]
	path = snippets
	url = git://github.com/rejeep/yasnippets.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "packages/drag-stuff"]
	path = packages/drag-stuff
	url = git://github.com/rejeep/drag-stuff.git
[submodule "packages/wrap-region"]
	path = packages/wrap-region
	url = git://github.com/rejeep/wrap-region.git
[submodule "packages/color-theme-rejeep"]
	path = packages/color-theme-rejeep
	url = git://github.com/rejeep/color-theme-rejeep.git
[submodule "packages/html-script-src"]
	path = packages/html-script-src
	url = git://github.com/rejeep/html-script-src.git
