[submodule "packages/markdown-mode"]
	path = packages/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "packages/twilight"]
	path = packages/twilight
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "snippets"]
	path = snippets
	url = git://github.com/rejeep/yasnippets.git
[submodule "packages/keats-mode"]
	path = packages/keats-mode
	url = git://github.com/rejeep/keats.git
